<%= post.content %>
<br>
<%= poster(post) %>
<h6><%= post.created_at %></h6>
<hr>
<%= render 'likes/likes', locals: {post: post} %>
<%= render partial: "comments/show", collection: post.comments, as: :comment %>
<%= render  'comments/new', locals: {post: post} %>